<title><%= title %></title>
<!--<link rel='stylesheet' href='/stylesheets/style.css' /> -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">    
<!-- <link rel="stylesheet" href="/Content/bootstrap.css"> -->

<!-- Need to migrate bootstrap from 3 to 4 -->
<link rel="stylesheet" href="/css/bootstrap.css">
<script src="/js/bootstrap.js"></script>

<link href="/Content/Site.css" rel="stylesheet"/>

<!--
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
-->
<script src="/js/jquery.js"></script>
<!-- <script src="/js/modernizr-2.8.3.js"></script> -->