<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>
  <body>
    <% include partials/menu %>
    <div class="container body-content">

        <h2>High CPU</h2>
        <br>

        <form name="form" action="#" id="formdata" method="POST" class="well span9">
            <div class="row">
                <div class="span3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label>Target:</label>  <input type="text" id="target" name="target" value="www.google.com" class="form-control span3 text-center" /><br>
                        <label>Port:</label>  <input type="number" id="port" name="port" value="80" min="1" max="65535" class="form-control span3 text-center" /><br>
                        <label>Connections:</label>  <input type="number" id="connections" name="connections" value="30" min="1" max="65535" class="form-control span3 text-center" />
                    </div>
                    <br><br>
                    <div id="divRefresh"></div>
                    <br>
                    <input type="submit" id="run" value="Run" class="btn btn-primary btn-default" />
                    <input type="submit" id="GetStatus" value="Status" class="btn btn-primary btn-default" />
                    <!--<input type="submit" id="Reconnect" value="Reconnect" class="btn btn-primary btn-default" />-->
                    <br><br>
                    <input type="submit" id="runasync" value="RunAsync" class="btn btn-primary btn-default" />
                    <input type="submit" id="GetStatusAsync" value="StatusAsync" class="btn btn-primary btn-default" />
                    <!--<input type="submit" id="ReconnectAsync" value="ReconnectAsync" class="btn btn-primary btn-default" />-->
                    </div>
            </div>
        </form>
        <br>
        
        <script src="/Scripts/jquery-3.3.1.min.js"></script>
        <script type="text/javascript">
            function apicall(type, data, apiurl) {
                var response = null;
                var currentURL = window.location.hostname + ":" + window.location.port;
                var protocol = location.protocol;
                var apiurl = protocol + "//" + currentURL + apiurl;
        
                if (type == 'GET') {
                    response = $.ajax({
                        type: 'GET',
                        async: false,
                        contentType: 'application/json',
                        url: apiurl
                    });
                    //console.log("Aresult: " + response.responseText);
                    return response.responseText;
                }
                if (type == 'POST') {
                    response = $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        async: false,
                        contentType: 'application/json',
                        url: apiurl,
        
                        success: function (res) {
                            console.log("DataGet: " + res.responseText);
        
                            response = res;
                        },
                        error: function (res) { alert("Error: " + res.responseText); }
        
                    });
                    //console.log("POST Response: " + response.responseText);
                    return response.responseText;
                }
            }
        
            function apicallasync(type, data, apiurl, callback) {
                var response = null;
                var currentURL = window.location.hostname + ":" + window.location.port;
                var protocol = location.protocol;
                var apiurl = protocol + "//" + currentURL + apiurl;
        
                if (type == 'GET') {
                    $.ajax({
                        type: 'GET',
                        //async: false,
                        contentType: 'application/json',
                        url: apiurl,
                        success: callback,
                        error: function (res) { debugger; alert("Error: " + res.responseText); }
                    });
                    //console.log("Aresult: " + response.responseText);
                }
                if (type == 'POST') {
                    response = $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        //async: false,
                        contentType: 'application/json',
                        url: apiurl,
        
                        success: callback,
                        error: function (res) { debugger; alert("Error: " + res.responseText); }
        
                    });
                    //console.log("POST Response: " + response.responseText);
                }
            }
        
            function jsonParse(data) {
                var dataJSON = JSON.parse(data);
                return dataJSON;
            }
        
            function genHTML(genhtml) {
                var genhtmlJson = jsonParse(genhtml);
                var varhtml = "OpenSockets: " + genhtmlJson.OpenSockets + '<br>';
                varhtml += "ClosedSockets: " + genhtmlJson.ClosedSockets + '<br>';
                varhtml += "ConnectionStatus: " + genhtmlJson.ConnectionStatus + '<br>';
                varhtml += "ServerDateTime: " + genhtmlJson.ServerDateTime + '<br>';
                return varhtml;
            }
        
            var currentStatus = apicall('GET', '', '/api/Socket');
            var currentStatusJSON = jsonParse(currentStatus);
            if (currentStatusJSON.ConnectionStatus == "Connected" || currentStatusJSON.ClosedSockets > 0) {
                $("#run").val('Stop');
                $("#runasync").val('StopAsync');
                var varhtml = genHTML(currentStatus);
                $('#divRefresh').html(varhtml);
            }
        
            $('#run').click(function (e) {
                e.preventDefault();
                var data = {};
                data.Host = $('#target').val();
                data.Port = parseInt($("#port").val());
                data.Connections = parseInt($("#connections").val());
                data.status = $("#run").val();
        
                if (data.status == 'Run') {
                    $("#run").val('Stop');
                    var rRun = apicall('POST', data, '/api/Socket/Start');
                    console.log(rRun);
                    var varhtml = genHTML(rRun);
                    $('#divRefresh').html(varhtml);
                }
                else if (data.status == 'Stop') {
                    $("#run").val('Run');
                    var rStop = apicall('GET', '', '/api/Socket/Stop');
                    var varhtml = genHTML(rStop);
                    $('#divRefresh').html(varhtml);
                }
            });
        
            $('#GetStatus').click(function (e) {
                e.preventDefault();
                var rGetStatus = apicall('GET','','/api/Socket');
                console.log("rGetStatus: " + rGetStatus);
                var varhtml = genHTML(rGetStatus);
                $('#divRefresh').html(varhtml);
        
            });
        
            $('#Reconnect').click(function (e) {
                e.preventDefault();
                var rReconnect = apicall('GET', '', '/api/Socket/ReconnectSocket');
                console.log("rReconnect: " + rReconnect);
                var varhtml = genHTML(rReconnect);
                $('#divRefresh').html(varhtml);
        
            });
        
            /////////////////////
            // Async Operations
            /////////////////////
            function loadingimage() {
                var loading = '<img src="/Content/Images/load.gif" />'
                $('#divRefresh').html(loading);
            }
        
            function ajaxcallback(result) {
                console.log("Reached AjaxCallBack");
                console.log(JSON.stringify(result));
                var varhtml = genHTML(JSON.stringify(result));
                $('#divRefresh').html(varhtml);
            }
        
            $('#runasync').click(function (e) {
                e.preventDefault();
                var data = {};
                data.Host = $('#target').val();
                data.Port = parseInt($("#port").val());
                data.Connections =  parseInt($("#connections").val());
                data.status = $("#runasync").val();
        
                if (data.status == 'RunAsync') {
                    $("#runasync").val('StopAsync');
                    loadingimage();
                    apicallasync('POST', data, '/api/Socket/Start', ajaxcallback);
                }
                else if (data.status == 'StopAsync') {
                    $("#runasync").val('RunAsync');
                    //var rStop = apicall('GET', '', '/api/Socket/Stop');
                    apicallasync('GET', data, '/api/Socket/Stop', ajaxcallback);
                }
            });
        
            $('#GetStatusAsync').click(function (e) {
                e.preventDefault();
                loadingimage();
                apicallasync('GET', '', '/api/Socket', ajaxcallback);
            });
        
            $('#ReconnectAsync').click(function (e) {
                e.preventDefault();
                loadingimage();
                apicallasync('GET', '', '/api/Socket/ReconnectSocket', ajaxcallback);
            });
        
        </script>

        <% include partials/footer %>
    </div>
  </body>
</html>