<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>
  <body>
    <% include partials/menu %>
    <div class="container body-content">

        <h2>High CPU</h2>
        <br>

        <form name="form" action="#" id="formdata" method="POST" class="well span9">
            <div class="row">
                <div class="span3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <!-- <label>Number of CPUs:</label>  <input type="number" id="numOfCpus" name="numOfCpus" value="0" class="form-control span3 text-center" /><br> -->
                        <label>Number of CPUs:</label> <br>Description: Select the amount of CPU cores to burn CPU.<br> <select name="NumberCPUs" id="numofcpusselectid" class="form-control span3 text-center"></select> <br>
                        <label>CPU Cycles:</label> <br>Description: Select the amount of CPU cycles the algorithm should be executed per CPU Core.<br>  <input type="number" id="looptimes" name="looptimes" value="1" min="1" max="5" class="form-control span3 text-center" /><br>
                        <!-- <label>Current CPU Utilization:</label>  <input type="number" id="cpuutil" name="cpuutil" value="30" min="1" max="65535" class="form-control span3 text-center" /> -->
                        <br>
                        <!-- <input list="html_elements" name="web_language" class="form-control span3 text-center"/>
                        <datalist id="html_elements">
                            <option value="Anchor_tag" > </option>
                            <option value="Aside _tag" selected="selected"> </option>
                        </datalist>
                        <br>

                        <input list="listnumofcpus" id="listnumofcpusid" name="NumberCPUs" placeholder="1" class="form-control span3 text-center">
                        <datalist id="listnumofcpus">
                        </datalist> -->

                        <!-- <select name="NumberCPUs" id="numofcpusselectid" class="form-control span3 text-center">
                            <option value="1">option1</option>
                            <option value="2">option2</option>
                            <option value="3">option3</option>
                            <option value="4">option3</option>
                        </select>                         -->



                    </div>
                    <br><br>
                    <div id="divRefresh"></div>
                    <br>
                    <!-- <input type="submit" id="run" value="Run" class="btn btn-primary btn-default" />
                    <input type="submit" id="GetStatus" value="Status" class="btn btn-primary btn-default" /> -->
                    <!--<input type="submit" id="Reconnect" value="Reconnect" class="btn btn-primary btn-default" />-->
                    <br><br>
                    <input type="submit" id="start" value="Start" class="btn btn-primary btn-default" />
                    <input type="submit" id="GetStatusAsync" value="Get Status" class="btn btn-primary btn-default" />
                    <!--<input type="submit" id="ReconnectAsync" value="ReconnectAsync" class="btn btn-primary btn-default" />-->
                    </div>
            </div>
        </form>
        <br>
        
        <script src="/Scripts/jquery-3.3.1.min.js"></script>
        <script type="text/javascript">
            function apicallasync(type, data, apiurl, callback) {
                var response = null;
                var currentURL = window.location.hostname + ":" + window.location.port;
                var protocol = location.protocol;
                var apiurl = protocol + "//" + currentURL + apiurl;
        
                if (type == 'GET') {
                    $.ajax({
                        type: 'GET',
                        //async: false,
                        contentType: 'application/json',
                        url: apiurl,
                        success: callback,
                        error: function (res) { debugger; alert("Error: " + res.responseText); }
                    });
                    //console.log("Aresult: " + response.responseText);
                }
                if (type == 'POST') {
                    response = $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        //async: false,
                        contentType: 'application/json',
                        url: apiurl,
        
                        success: callback,
                        error: function (res) { debugger; alert("Error: " + res.responseText); }
        
                    });
                    //console.log("POST Response: " + response.responseText);
                }
            }
        
            function jsonParse(data) {
                var dataJSON = JSON.parse(data);
                return dataJSON;
            }
        
            function genHTML(genhtml) {
                var genhtmlJson = jsonParse(genhtml);
                console.log('genHTML: '+genhtmlJson);
                console.log('genHTML CPU: '+genhtmlJson.CPU);
                console.log('genHTML Cores: '+genhtmlJson.numOfCpus);
                console.log('genHTML JSON:' + JSON.stringify(genhtmlJson));
                var varhtml = "<b>Current CPU Utilization: </b>" + genhtmlJson.CPU + '%'+ '<br><br>';
                varhtml += "Number of CPUs available: " + genhtmlJson.numOfCpus + '<br>';
                return varhtml;
            }
        
            /////////////////////
            // Async Operations
            /////////////////////
            function loadingimage() {
                var loading = '<img src="/Content/Images/load.gif" />'
                $('#divRefresh').html(loading);
            }
        
            function ajaxcallback(result) {
                console.log("Reached AjaxCallBack");
                console.log(JSON.stringify(result));
                var varhtml = genHTML(JSON.stringify(result));
                $('#divRefresh').html(varhtml);
            }
        
            $('#start').click(function (e) {
                e.preventDefault();
                var data = {};
                data.numOfCpus = $("#numofcpusselectid").val();

                data.looptimes = parseInt($("#looptimes").val());
                data.status = $("#start").val();
                console.log('data: '+JSON.stringify(data));
                if (data.status == 'Start') {
                    $("#start").val('Stop');
                    loadingimage();
                    apicallasync('POST', data, '/api/highcpu/start', ajaxcallback);
                }
                else if (data.status == 'Stop') {
                    $("#start").val('Start');
                    apicallasync('GET', data, '/api/highcpu/stop', ajaxcallback);
                }
            });

            // backup working
            // $('#start').click(function (e) {
            //     e.preventDefault();
            //     var data = {};
            //     data.numOfCpus = $('#numOfCpus').val();
            //     data.looptimes = parseInt($("#looptimes").val());
            //     //data.cpuutil =  parseInt($("#cpuutil").val());
            //     data.status = $("#start").val();
        
            //     if (data.status == 'Start') {
            //         $("#start").val('Stop');
            //         loadingimage();
            //         apicallasync('POST', data, '/api/highcpu/start', ajaxcallback);
            //     }
            //     else if (data.status == 'Stop') {
            //         $("#start").val('Start');
            //         apicallasync('GET', data, '/api/highcpu/stop', ajaxcallback);
            //     }
            // });            
        
            $('#GetStatusAsync').click(function (e) {
                e.preventDefault();
                loadingimage();
                apicallasync('GET', '', '/api/highcpu/get', ajaxcallback);
            });

            function firstload() {
                apicallasync('GET', '', '/api/highcpu/get', function(result){
                    var data = JSON.stringify(result)
                    var dataJson = jsonParse(data);
                    $("#numOfCpus").val(dataJson.numOfCpus);

                    var str=''; // variable to store the options
                    var cpucount = 1;
                    for (var i=0; i < dataJson.numOfCpus;++i){

                        str += '<option value="'+cpucount+'">'+cpucount+'</option>'; // Storing options in variable
                        cpucount++
                    }
                    var my_list=document.getElementById("numofcpusselectid");
                    my_list.innerHTML = str;
                    console.log('Number in the list:'+$("#listnumofcpusid").val());
                    console.log('Number in the placeholder:'+$("#listnumofcpusid").attr('placeholder'));

                    if ($("#listnumofcpusid").attr('placeholder') != 1) {
                        
                    }
                    

                    var varhtml = genHTML(JSON.stringify(result));
                    $('#divRefresh').html(varhtml);                    
                });
            }

            firstload();
                
        </script>

        <% include partials/footer %>
    </div>
  </body>
</html>