<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>
  <body>
    <% include partials/menu %>
    <div class="container body-content">
      <div class="jumbotron">
          <h1>NodeJS Express Port Exhaustion</h1>
          <p class="lead">This web site provide you a demo for test purpose only. It opens X number of connection to a given target.</p>
          <p><a href="../" class="btn btn-primary btn-lg">SNatPortExhaustion &raquo;</a></p>
      </div>
      <% include partials/footer %>
    </div>
  </body>
</html>